*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
}
table{
    /*border-collapse: separate;
    border-spacing: 2px 0;*/
    width: 250px;
}
.table-head{
    background-color: #000000;
    color: #ffffff;
}
.table-body tr:nth-child(even){
    background-color: #dddddd;
}
.table-body tr:nth-child(1),
.table-body tr:nth-child(2),
.table-body tr:nth-child(3){
    color: #ff0000;
}
.text{
    width: 100px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    margin: 30px 0;
}
.text:focus{
    width: 200px;
}
.banner{
    position: relative;
    width: 300px;
    height: 150px;
}
.banner ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    font: bold 50px/150px SimHei;
    color: #987654;
    overflow: hidden;
}
.banner ul li{
    display: none;
}
#fir{
    background-color: red;
    text-align: center;
    display: block;
}
#sec{
    background-color: blue;
    text-align: center;
}
#thr{
    background-color: green;
    text-align: center;
}
.opt{
    position: absolute;
    right: 0;
    bottom: 0;
}
.opt a{
    text-decoration: none;
    display: inline-block;
    padding:10px;
    line-height: 1em;
    background-color: rgba(255,255,255,0.5);
    opacity: 0.5;
    color: #ffffff;
    font-weight: bold;
}
.banner ul li:target{
    display: block;
    /*z-index:2;*/    /*这个也可以实现*/
}


