*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;   /* 放在这很关键，不会超出窗口宽度*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 10px;
}
/*.container:before, .container:after{
    display: table;
    content: "";
    clear: both;
}*/
[class*='col-']{
    float: left;
    padding: 10px;
}
.content{
    border: 1px solid #999;
    background-color: #eee;
    height: 48px;
}
@media all and (min-width:  769px)  {
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-6{
        width: 50%;
    }
}
@media all and (max-width: 768px){
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-12{
        width: 100%;
    }
}
